pillow>=8.0.0       # Image generation
requests>=2.23.0    # Downloading images from reddit
praw>=7.1.0         # Reddit API
instabot>=0.117.0   # Instagram API
validit[yaml,toml]==1.0.1   # Loading yaml and toml configuration files
